<ul class="users-listing">
	{{#each user in controller}}
		<li>
		{{#link-to "user" user}}
			{{user.name}}
		{{/link-to}}
		</li>
	{{else}}
		<li>no users... :-(</li>
	{{/each}}
</ul>

<div>Users: {{usersCount}}</div>

{{#link-to "users.create" class="create-btn"}} Add user {{/link-to}}

{{outlet}}